<h1>agent_search_flights</h1>
<a href="/user_home_booking_agent">Home</a>

{{content}}

<form method='post' action='/agent_search_flights'> 
    <div>
        purchase_ticket_for_customer(email): <input type='text' name="purchase_ticket_for_customer">
    </div> 
    <div>
        select_flight: <input type='text' name="select_flight">
    </div> 
    <div>
        input_airline: <input type='text' name="input_airline">
    </div> 
    
    <input type="submit" value="buy" />
</form>