<h1>customer_search_upcoming</h1>
<a href="/user_home_customer">user_home_customer</a>

{{content}}

<form method='post' action='/customer_search_upcoming'> 
    <div>
        flight_num: <input type='text' name="flight_num">
    </div> 
    <div>
        airline: <input type='text' name="airline">
    </div> 
    
    <input type="submit" value="buy" />
</form>