<h1>customer_search_upcoming</h1>
<a href="/user_home_customer">user_home_customer</a>

{{content}}

<form method='post' action='/customer_search_upcoming'> 
    <div>
        select_flight: <input type='text' name="select_flight">
    </div> 
    <div>
        input_airline: <input type='text' name="input_airline">
    </div> 
    
    <input type="submit" value="buy" />
</form>