<h1>Register</h1>

<form method='post' action='/register_AirlineStaff'> 
    <div>
        username: <input type='text' name="username">
    </div> 
    <div>
        password: <input type='password' name="email">
    </div> 
    <div>
        first_name: <input type='text' name="first_name">
    </div> 
    <div>
        last_name: <input type='text' name="last_name">
    </div> 
    <div>
        date_of_birth: <input type='text' name="date_of_birth">
    </div> 
    <div>
        airline_name: <input type='text' name="date_of_birth">
    </div> 
    
    <div><input type='submit' value='Register'></div>
</form>

