<h1>Register</h1>

<form method='post' action='/register_customer'> 
    <div>
        email: <input type='text' name="email">
    </div> 
    <div>
        password: <input type='password' name="password">
    </div> 
    <div>
        name: <input type='text' name="name">
    </div> 
    <div>
        building_num: <input type='text' name="building_num">
    </div> 
    <div>
        street: <input type='text' name="street">s
    </div> 
    <div>
        city: <input type='text' name="city">
    </div> 
    <div>
        state: <input type='text' name="state">
    </div> 
    <div>
        phone_number: <input type='text' name="phone_number">
    </div> 
    <div>
        passport_number: <input type='text' name="phone_number">
    </div> 
    <div>
        passport_expiration: <input type='text' name="phone_number">
    </div> 
    <div>
        passport_country: <input type='text' name="phone_number">
    </div> 
    <div>
        date_of_birth: <input type='text' name="date_of_birth">
    </div> 
    <div><input type='submit' value='Register'></div>
</form>
