<h1>staff_view_agents</h1>
<a href="/user_home_airline_staff">user_home_airline_staff</a>
<a href="/logout">Logout</a>

<div>Top 5 agents based on the number of ticket sale for the past month: {{ticket_month}}</div>
<div>Top 5 agents based on the number of ticket sale for the past year: {{ticket_year}}</div>
<div>Top 5 agents based on the amount of commission received for the past year: {{commission_year}}</div>
