<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exploring Chart.js</title>
</head>
<style>
    .container {
        width: 50%;
        height: 50%;
    }
</style>
<body>

    <button id="renderBtn">
        Render
    </button>
    <div class="container">
        <canvas id="pieChart1"></canvas>
        <canvas id="pieChart2"></canvas>
    </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script >
    function renderChart(data, labels) {
        var labels = [
        "direct",
        "indirect",
        ];
        var data1 = [
            {{x1}},
            {{y1}},
        ];
        var data2 = [
            {{x2}},
            {{y2}},
        ];
        var pie1 = document.getElementById("pieChart1").getContext('2d');
        var pie2 = document.getElementById("pieChart2").getContext('2d');
        var myChart = new Chart(pie1, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [
                    {
                        data: data1,
                        borderColor: ['rgba(75, 192, 192, 1)', 'rgba(192, 0, 0, 1)'],
                        backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(192, 0, 0, 0.2)'],
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: "last month"
                }
            }
        });
        
        //year
        
        var myChart = new Chart(pie2, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [
                {
                    data: data2,
                    borderColor: ['rgba(75, 192, 192, 1)', 'rgba(192, 0, 0, 1)'],
                    backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(192, 0, 0, 0.2)'],
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: "Last year"
            }
        }
    });
    
    }
  
  $("#renderBtn").click(
    function () {
        renderChart();
    }
  );
</script>

</html>

