<h1>staff_view_agents</h1>
<a href="/user_home_airline_staff">user_home_airline_staff</a>
<a href="/logout">Logout</a>

<div>Top 3 most popular destinations</div>
<div>for last 3 months: {{dest_months}}</div>
<div>for last year: {{dest_year}}</div>
