<h1>staff_create_flights</h1>
<a href="/user_home_airline_staff">user_home_airline_staff</a>
<a href="/logout">Logout</a>


<form method='post' action='/staff_flight_status'> 
    <div>
        airline_name: <input type='text' name="airline_name">
    </div> 
    <div>
        flight_num: <input type='text' name="flight_num">
    </div> 
    <div>
        new_flight_status: <input type='text' name="new_flight_status">
    </div> 
    <input type="submit" value="submit" />
</form>
{{content}}
