<h1>staff_add_airport</h1>
<a href="/user_home_airline_staff">user_home_airline_staff</a>
<a href="/logout">Logout</a>


<form method='post' action='/staff_add_airport'> 
    <div>
        airport_name: <input type='text' name="airport_name">
    </div> 
    <div>
        airport_city: <input type='text' name="airport_city">
    </div> 
    <input type="submit" value="submit" />
</form>
{{content}}
